<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd 
http://code.alibabatech.com/schema/dubbo
http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
>
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:dubbo.properties"/>
    </bean>

    <context:component-scan base-package="cn.xh"/>

    <import resource="classpath:datasources.xml"/>

    <!--定义了提供方应用信息，用于计算依赖关系；在 dubbo-admin 或 dubbo-monitor 会显示这个名字，方便辨识-->
    <dubbo:application name="marketing-service-provider" owner="mph" organization="rograndec">
        <!-- 设置优雅停机超时时间，缺省超时时间是 10 秒，如果超时则强制关闭。 -->
        <dubbo:parameter key="shutdown.timeout" value="120000"/>
    </dubbo:application>

    <dubbo:protocol name="dubbo" port="${prop.dubbo.protocol.port}"/>
    <dubbo:provider threadpool="cached" protocol="dubbo" loadbalance="roundrobin" cluster="failfast" delay="-1"
                    timeout="6000" retries="0"/>
    <dubbo:registry address="${prop.registry.address}"/>
    <!-- <dubbo:monitor protocol="registry" /> -->
    <!-- 关闭所有服务的启动时检查 (没有提供者时报错)。-->
    <dubbo:consumer check="${prop.dubbo.consumer.check}"/>


</beans>